<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.salonspace">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FindPW"></activity>
        <activity android:name=".FindID" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".SearchResultActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".ReserveActivity" />
        <activity android:name=".ReviewActivity" />
        <activity android:name=".MainActivity_custom" />
        <activity android:name=".MainActivity4Customer" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PopupActivity" android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".SplahActivity"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity4Designer" />
    </application>

</manifest>